name: Tests

on:
  push:
    branches: [main]
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches: [main]
    paths-ignore:
      - 'docs/**'
  workflow_call:
    secrets:
      DATASCRIBE_API_TOKEN:
        required: true
      DATASCRIBE_ADMIN_API_TOKEN:
        required: false

jobs:
  test:
    name: Run Tests
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version-file: ".python-version"

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        env:
          DATASCRIBE_API_TOKEN: ${{ secrets.DATASCRIBE_API_TOKEN }}
          DATASCRIBE_ADMIN_API_TOKEN: ${{ secrets.DATASCRIBE_ADMIN_API_TOKEN }}
        run: |
          uv run pytest -v -s -m "not slow"
